.global_wrapper {
  display: grid;
  grid-template-rows: 30px 1fr 1fr 90px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "header header header"
  "game_header game_header game_level"
  "game_editor game_HTML_Viewer game_level"
  "footer footer footer";
  width: 100vw;
  height: 100vh;
  padding: 5px;
  gap: 5px;
  box-shadow: 0px 0px 0px 4px blue;
  background-color: #2e2a23;
}

.global_header{
  grid-area: header;
  color: white;
  margin: auto;
}

.game_header{
  grid-area: game_header;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: solid 2px brown;
  background-color: #555353;
}

.game_editor {
  grid-area: game_editor;
  padding: 5px;
  border-radius: 10px;
  border: solid 2px brown;
  background-color: #555353;
}

.game_HTML_Viewer {
  grid-area: game_HTML_Viewer;
  padding: 5px;
  border-radius: 10px;
  border: solid 2px brown;
  background-color: #555353;
  color: burlywood;
  cursor: default;
  font-size: 12px;
}

.game_level {
  grid-area: game_level;
  padding: 5px;
  border-radius: 10px;
  border: solid 2px brown;
  background-color: #221e18;
}

.global_footer{
  grid-area: footer;
}