.global-wrapper {
  display: grid;
  grid-template-rows: 30px 1fr 1fr 90px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "header header header"
  "game-header game-header game-level"
  "game-editor game-HTML-Viewer game-level"
  "footer footer footer";
  width: 100vw;
  height: 100vh;
  padding: 5px;
  gap: 5px;
  box-shadow: 0px 0px 0px 4px blue;
  background-color: #2e2a23;
}

.global-header{
  grid-area: header;
  color: white;
  margin: auto;
}

.game-header{
  grid-area: game-header;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: solid 2px brown;
  background-color: #555353;
}

.game-editor {
  grid-area: game-editor;
  padding: 5px;
  border-radius: 10px;
  border: solid 2px brown;
  background-color: #555353;
}

.game-HTML-Viewer {
  grid-area: game-HTML-Viewer;
  padding: 5px;
  border-radius: 10px;
  border: solid 2px brown;
  background-color: #555353;
  color: burlywood;
  cursor: default;
  font-size: 12px;
}

.game-level {
  grid-area: game-level;
  padding: 5px;
  border-radius: 10px;
  border: solid 2px brown;
  background-color: #221e18;
}

.global-footer{
  grid-area: footer;
}