.shake {
  animation: horizontal-shaking 0.35s;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
 }

.help-button{
  width: 100px;
}

.input-field {
  width: 100px;
}

.container-editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.like-button {
  background-color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

.like-button:hover {
  background-color: rgb(65, 62, 62);
}
