.footer {
  display: flex;
  align-items: center;
  justify-content:space-around;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
}

.footer-year {
  cursor: default;
  color: gray;
}

.footer-github {
  text-decoration: none;
  color: gray;
  transition: 0.25s;
}

.footer-github:hover, .footer-github:focus {
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
}

.footer-rss-image {
  height: 50px;
  width: 100px;
  background: url("../assets/img/rss.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  transition: 0.25s;
}

.footer-rss-image:hover, .footer-rss-image:focus {
    filter: invert(3%) sepia(33%) saturate(1353%) hue-rotate(56deg) brightness(85%) contrast(103%);
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
}