.table {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 150px;
  gap: 10px;
  margin-top: 50px;
  background-image: url('../assets/img/table.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

plate {
  display: block;
  width: 55px;
  height: 40px;
  background-image: url('../assets/img/plate.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.5s;
}

plate:hover {
  border-radius: 50px;
  background-color: white;
}

.default {
  position: relative;
  bottom: 0px;
}

.hide {
  bottom: 500px;
}

.fancyClass{
  font-size: medium;
}

.child {
  display: inline;
  font-size: medium;
  width: 10px;
  height: 10px;
  background-color: blue;
}

#fancyId {
  display: flex;
  justify-content: center;
  align-items: center;
}

.strobe {
  transform-origin: bottom;
  animation: strobeStart .5s ease-out, strobe 1s infinite;
  animation-delay: 0s, .5s;
}

.strobe:hover {
  border-radius: 60px;
  background-color: white;
}


.tooltip,
.tooltip0,
.tooltip1,
.tooltip2,
.tooltip3 {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltiptext,
.tooltiptext0,
.tooltiptext1,
.tooltiptext2,
.tooltiptext3 {
  visibility: hidden;
  width: 135px;
  height: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -67px;
}

.displayNone {
  display: none;
}

.tooltiptext::after,
.tooltiptext0::after,
.tooltiptext1::after,
.tooltiptext2::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext,
.tooltip0:hover .tooltiptext0,
.tooltip1:hover .tooltiptext1,
.tooltip2:hover .tooltiptext2 {
  display: block;
  visibility: visible;
}



@keyframes strobeStart {
  0% {
    transform: skew(0deg,0deg) scaleY(1);
    animation-timing-function: ease-in;
  }
  40% {
    transform: skew(0deg,0deg) scaleY(.9);
    animation-timing-function: ease-out;
  }
  100% {
    transform: skew(4deg,0deg) scaleX(1);
  }
}

@keyframes strobe {
  0% {
    transform: skew(4deg,0deg) scaleX(1);
  }
  10% {
    transform: skew(1deg,0deg) scaleY(.9);
  }
  50% {
    transform: skew(-4deg,0deg) scaleX(1);
  }
  60% {
    transform: skew(-1deg,0deg) scaleY(.9);
  }
  100% {
    transform: skew(4deg,0deg) scaleX(1);
  }
}
