.levels-view-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.levels-buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.complete-level-symbol {
  cursor: default;
  color: gray;
}

.complete-level-symbol-with-hint {
  cursor: default;
  color: gray;
  padding: 0 10px 0 5px;
}

.complete-level {
  color: green;
}

.level-button {
  cursor: pointer;
  width: 30px;
}

.reset-button {
  cursor: pointer;
  max-width: 150px;
}

.active-level-button {
  background-color: aqua;
}
