.levels_view_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.levels_buttons_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.complete_level_symbol {
  color: gray;
}

.complete_level_symbol_with_hint {
  color: gray;
  padding: 0 10px 0 5px;
}

.complete_level {
  color: green;
}

.level_button {
  width: 30px;
}

.reset_button {
  max-width: 150px;
}