.wrapper {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
    background: url(./assets/images/body.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    background: #121c1e;
    border-bottom: 2px solid #fff;
    border-radius: 0 0 20px 20px;
    height: 50px;
    padding: 10px 0;
}

header, main {
    width: 100%;
}

.header>.container {
    align-items: center;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
}

.container {
    height: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

.header>.container .logo {
    background-image: url(./assets/images/logo-basket.svg);
    background-size: 48px 60px;
    display: block;
    font-size: 0;
    height: 60px;
    margin-right: 50px;
    width: 48px;
}

.header>.container .nav {
    display: flex;
    flex-grow: 1;
    gap: 50px;
}

.header>.container .favorite {
    background-image: url(./assets/images/basket.png);
    background-position: left -8px;
    background-repeat: no-repeat;
    background-size: 48px 60px;
    height: 60px;
    width: 48px;
}

.header>.container .favorite span {
    background-color: #278d9f;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    margin-left: 4px;
    margin-top: 10px;
    min-width: 20px;
    text-align: center;
}

.container {
    height: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

.filters {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 96%;
}

.container-filters {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 20px 0 30px;
    width: 100%;

    @media screen and (max-width: 1280px) {
        grid-template-columns: repeat(1,1fr);
    }
}

.filter-by-value {
    backdrop-filter: blur(3px);
    background-color: rgba(19,20,21,.3);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px 20px;
    z-index: 1;
}

.filter-by-value__title {
    font-size: 18px;
    margin: 10px 0;
}

.filter-by-name__company,
.filter-by-size__camera,
.filter-by-color__color,
.filter-by-popular__popular {
    margin: 10px 0;
}

.filter-by-range {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(19,20,21,.3);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px 20px;
    z-index: 1;
}

.filter-by-search {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(19,20,21,.3);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px 20px;
    z-index: 1;
}

button {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #d4cece;
    transition-duration: 0.4s;
}

button:hover {background-color: #d4cece;}

button.alt:hover {background-color: gold;}

.button-white,
.button-yellow,
.button-red {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.white {
    background-color: white;
    color: black;
    border: 2px solid #d4cece;
}

.white:hover {background-color: #d4cece;}

.white.alt {
    background-color: #d4cece;
}

.yellow {
    background-color: white; 
    color: black; 
    border: 2px solid yellow;
}

.yellow:hover {
    background-color: rgb(225, 225, 118);
    color: black;
}

.yellow.alt {
    background-color: yellow;
}

.red {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.red:hover {
    background-color: #dc8079;
    color: white;
}

.red.alt {
    background-color: #f44336;
}

.slider-count,
.slider-year {
    align-items: center;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 42% 1fr;

    @media screen and (max-width: 1280px) {
        grid-template-columns: 1fr 70% 1fr;
    }
}

.slider-count-snap-value-lower,
.slider-count-snap-value-upper,
.slider-year-snap-value-lower,
.slider-year-snap-value-upper {
    align-items: center;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border: 1px solid #278d9f;
    border-radius: 20px;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    margin: 10px 0;
    min-width: 60px; 
}

.range-slider-by-year,
.noUi-target.noUi-ltr,
.noUi-horizontal,
.noUi-txt-dir-ltr,
.noUi-touch-area {
    cursor: pointer;
}

.search-wrapper {
    backdrop-filter: blur(3px);
    background-color: rgba(19,20,21,.3);
    border: 1px solid #278d9f;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
}

.search__input {
    background-color: transparent;
    background-position: calc(100% - 20px);
    background-repeat: no-repeat;
    background-size: 20px;
    border: 0;
    color: #fff;
    font-size: 18px;
    height: 40px;
    margin-right: 0;
    width: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    cursor: pointer;
    padding-right: 10px;
}

.sort-list {
    width: 100%;
}

.option {
    z-index: 9999;
    border: 0px;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    padding: 0px;
    white-space: nowrap;
}

.search__input:focus-visible {
    outline: none;
}

select {
    width: 140px;
    height: 35px;
    padding: 4px;
    border-radius:4px;
    box-shadow: 2px 2px 8px #999;
    background: #eee;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.sort-wrapper {
    position: relative;
}

.sort-wrapper:after {
    content:'< >';
    font: 11px "Consolas", monospace;
    color: #666;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px; 
    top:8px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
}

.sort-wrapper:before {
    content: '';
    right: 6px; 
    top:0px;
    width: 20px; 
    height: 20px;
    background: #eee;
    position: absolute;
    pointer-events: none;
    display: block;
}

.reset {
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 10px;
}

.reset-filter,
.reset-all {
    backdrop-filter: blur(3px);
    background-color: rgba(19,20,21,.3);
    border: 1px solid #278d9f;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-family: Open Sans,sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    margin: 10px 0;
    padding: 0 25px;
}

.reset-filter:hover,
.reset-all:hover {
    background-color: inherit;
    opacity: .8;
}

button.reset-filter:active,
button.reset-all:active {
    opacity: 1;
}

.alt {
    background-color: gold;
}

.no-result__title {
    padding: 240px 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #121c1e;
}

.footer-year {
    color: #70d6ff;
}

.footer-github {
    text-decoration: none;
    color: #70d6ff;
    transition: 0.25s;
}

.footer-github:hover,
.footer-github:focus {
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
}

.footer-rss-image {
    height: 50px;
    width: 100px;
    background: url("./assets/images/rss.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    transition: 0.25s;
    filter: invert(21%) sepia(56%) saturate(1534%) hue-rotate(170deg) brightness(102%) contrast(102%);
}

.footer-rss-image:hover,
.footer-rss-image:focus {
    filter: invert(3%) sepia(33%) saturate(1353%) hue-rotate(56deg) brightness(85%) contrast(103%);
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
}