.our-friends {
    background-color: $color-background;
}

.friends__title {
    max-width: 400px;
    color: $color-dark-title;
    text-align: center;
    margin: auto;
    padding-top: 81px;
    @include media-mobile {
        @include font($size: 2.5rem, $height: 3.2rem);
        letter-spacing: 0.06em;
        margin: auto;
        text-align: center;
        padding-top: 42px;
        max-width: 300px;
    }
}

.empty {
    display: block;
}

.friends__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 59px;
    @include media-tablet {
        margin: auto;
        max-width: 708px;
        
        
    }
    @include media-mobile {
        justify-content: center;
        padding-top: 42px;
        flex-wrap: wrap;
        gap: 20px 80px;

    }
}

.pets__wrapper {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 990px;
    @include media-tablet {
        
        max-width: 580px;
        
        
    }
    @include media-mobile {
        justify-content: center;
        order: -1;
        flex-basis: 100%;
    }
}

.pets {
    background-color: $color-light-hovered;
    height: 435px;
    border-radius: 9px;
    cursor: pointer;
    @extend %transition;
    &:hover {
        background: $color-light;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    }
    &:hover > div.pets__button > button { 
        background: $color-primary-light;
        border-color: $color-primary-light;
    }
    @include media-tablet {
        
      //  flex-shrink: 1;
       
        
    }

}

.pets__image {
    border-radius: 9px 9px 0px 0px;
}

.pets__name {
    @extend %font-prim;
    @include font($size: 2.0rem, $height: 2.272rem);
    letter-spacing: 0.06em;
    text-align: center;
    padding-top: 22px;
    
}

.pets__button {
    text-align: center;
    padding-top: 30px;
}

.friends__button {

    text-align: center;
    padding: 60px 0 100px;
    @include media-tablet {
        padding: 60px 0 99.93px;
    }
    @include media-mobile {
        padding: 42px 0 42px;
    }

}

.woody { 
    @include media-tablet {
        display: none;
    }
}

.jennifer {
    @include media-mobile {
        display: none;
    }
}