.help__title {
    max-width: 310px;
    color: $color-dark-title;
    text-align: center;
    margin: 0 auto;
    padding-top: 81px;
    @include media-mobile {
        @include font($size: 2.5rem, $height: 3.2rem);
        letter-spacing: 0.06em;
        max-width: 222px;
        padding-top: 42px;
    }

}

.help__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px 120px;
    padding-top: 59px;
    padding-bottom: 100px;
    @include media-tablet {
        gap: 55px 60px;
    }
    @include media-mobile {
        justify-content: space-between;
        gap: 30px 30px;
        padding: 42px 5px 42px;
    }
}

.help__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center top;
    @include media-tablet {
        width: 170px;
        height: 113px;
    }
    @include media-mobile {
        width: 130px;
        height: 87px;
    }
}

.help__text {
    margin: 0;
    padding-top: 30px;
    color: $color-dark-title;
    @include media-mobile {
        @include font($size: 1.5rem, $height: 1.65rem);
        letter-spacing: 0.06em;
        padding-top: 21px;
    }
}

.food-image {
    width: 48px;    
    height: 60px;
    background-image: url(../../assets/icons/icon-pet-food.svg);
    background-size: 48px 60px;
    @include media-mobile {
        width: 40px;    
        height: 50px;
        background-image: url(../../assets/icons/food-mobile.svg);
        background-size: 40px 50px;
    }
}

.transport-image {
    width: 61px;    
    height: 60px;
    background-image: url(../../assets/icons/icon-transportation.svg);
    background-size: 61px 60px;
    @include media-mobile {
        width: 51px;    
        height: 50px;
        background-image: url(../../assets/icons/transportation-mobile.svg);
        background-size: 51px 50px;
    }

}

.toys-image {
    width: 60px;    
    height: 60px;
    background-image: url(../../assets/icons/icon-toys.svg);
    background-size: 60px 60px;
    @include media-mobile {
        width: 50px;    
        height: 50px;
        background-image: url(../../assets/icons/toys-mobile.svg);
        background-size: 50px 50px;
    }
}

.cups-image {
    width: 60px;    
    height: 60px;
    background-image: url(../../assets/icons/icon-bowls-and-cups.svg);
    background-size: 60px 60px;
    background-repeat: no-repeat;
    @include media-mobile {
        width: 50px;    
        height: 50px;
        background-image: url(../../assets/icons/bowls-and-cups-mobile.svg);
        background-size: 50px 50px;
    }
}

.shamp-image {
    width: 32px;    
    height: 60px;
    background-image: url(../../assets/icons/icon-shampoos.svg);
    background-size: 32px 60px;
    @include media-mobile {
        width: 27px;    
        height: 50px;
        background-image: url(../../assets/icons/shampoos-mobile.svg);
        background-size: 27px 50px;
    }
}

.vita-image {
    width: 60px;    
    height: 60px;
    background-image: url(../../assets/icons/icon-vitamins.svg);
    background-size: 60px 60px;
    background-repeat: no-repeat;
    @include media-mobile {
        width: 50px;    
        height: 50px;
        background-image: url(../../assets/icons/vitamins-mobile.svg);
        background-size: 50px 50px;
    }
}

.med-image {
    width: 60px;    
    height: 60px;
    background-image: url(../../assets/icons/icon-medicines.svg);
    background-size: 60px 60px;
    @include media-mobile {
        width: 50px;    
        height: 50px;
        background-image: url(../../assets/icons/medicines-mobile.svg);
        background-size: 50px 50px;
    }
}

.collars-image {
    width: 60px;    
    height: 60px;
    background-image: url(../../assets/icons/icon-collars-leashes.svg);
    background-size: 60px 60px;
    background-repeat: no-repeat;
    @include media-mobile {
        width: 50px;    
        height: 50px;
        background-image: url(../../assets/icons/collars-or-leashes-mobile.svg);
        background-size: 50px 50px;
    }
}

.sleep-image {
    width: 57px;    
    height: 60px;
    background-image: url(../../assets/icons/icon-sleeping-area.svg);
    background-size: 57px 60px;
    @include media-mobile {
        width: 48px;    
        height: 50px;
        background-image: url(../../assets/icons/sleeping-area-mobile.svg);
        background-size: 48px 50px;
    }
}