$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light: #FFFFFF;
$color-light-gray: #CDCDCD;
$color-light-hovered: #FAFAFA;
$color-dark: #292929;
$color-dark-add: #4C4C4C;
$color-dark-title: #545454;
$color-background: #F6F6F6;
$color-italic: #B2B2B2;

$content-width: 1200px;
$tablet-width: 1279px;
$mobile-width: 767px;