@keyframes move-right {
    from {left: -990px;}
    to {left: -1980px;}
  }

  @include media-tablet {
    @keyframes move-right {
      from {left: -580px;}
      to {left: -1160px;}
    }
  }

  @include media-mobile {
    @keyframes move-right {
      from {left: -270px;}
      to {left: -540px;}
    }
  }
  
  .transition-right {
    animation-name: move-right;
    animation-duration: 1s;
  }
  
  @keyframes move-left {
    from {left: -990px;}
    to {left: 0px;}
  }

  @include media-tablet {
    @keyframes move-left {
      from {left: -580px;}
      to {left: 0px;}
    }
  }

  @include media-mobile {
    @keyframes move-left {
      from {left: -270px;}
      to {left: 0px;}
    }
  }
  
  .transition-left {
    animation-name: move-left;
    animation-duration: 1s;
  }
