%transition {
    transition: all .3s ease-out;
}

%font-prim {
    font-family: 'Georgia', serif;
    font-style: normal;
}

%font-prim-bold {
    font-family: 'Georgia', serif;
    font-style: normal;
}

%font-add-normal {
    font-family: 'Arial', sans-serif;
    font-style: normal;
}

%font-add-italic {
    font-family: 'Arial', sans-serif;
    font-style: italic;
}