body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  position: relative;
  background-color: black;
  color: #ffffff;
  height: 100vh;
  padding: 0px 10px;
}

.hidden {
  display: none;
}

button:hover {
  cursor: pointer;
}