.main-buttons,
.create-edit-form {
  padding: 10px 0;
}

.edit-form__input {
  pointer-events: none;
}

.edit-form__color {
  pointer-events: none;
  
  &:hover {
    cursor: pointer;
  }
}

.create-form__color:hover {
  cursor: pointer;
}

.table-winners {
  border-spacing: 10px 3px;
}

.edit-form__button:disabled {
  pointer-events: all !important;
  cursor: not-allowed;
}

.sort-by-wins_asc,
.sort-by-wins_desc,
.sort-by-time_asc,
.sort-by-time_desc {
  padding: 0 6px;
  cursor: pointer;
}

.main-button__garage,
.main-button__winners {
  background-color: #92d993;
}

.popup,
.popup-broken-car {
  position: absolute;
  z-index: 10;
  top: 50%;
  margin: 20px auto;
  width: 98%;
  font-size: 50px;
  font-family: 'Rubik One', sans-serif;
  text-align: center;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px crimson, 0 0 35px crimson, 0 0 40px crimson, 0 0 50px crimson, 0 0 75px crimson;
  color: white;

}

.racetrack {
  position: relative;
}

.garage {
  list-style-type: none;
  padding-inline-start: 0px;
}

.flag {
  position: absolute;
  top: 20px;
  left: calc(100% - 160px);
  font-size: 50px;
  color: red;
}

.car {
  border-bottom: 2px dashed white;
}

.car-animation {
  width: 0;
}

.car__image {
  width: 100px;
  height: 50px;
}

footer {
  display: flex;
  align-items: center;
  justify-content:space-around;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
}

.footer-github {
  transition: 0.25s;
  text-decoration: none;
  color: #ffffff;

  &:hover, &:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    color: #69db7e;
  }
}

.footer-rss-image {
  transition: 0.25s;
  width: 100px;
  height: 50px;
  background: url("../../assets/images/rss.svg");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
 
  &:hover, &:focus {
      filter: invert(3%) sepia(33%) saturate(1353%) hue-rotate(56deg) brightness(85%) contrast(103%);
      box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  }
}